@charset "utf-8";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  color: #222;
}

a:link, a:hover, a:active, a:visited {
  color: #ee0000;
}

h1 {
  padding: 350px 0 10px;
  margin: 0;
}
h2 {
  font-size: 300%;
  text-align: center;
}

.welcome {
  width: 100%;
  padding-top: 8%;
}

.who-we-are {
  font-size:150%;
  line-height: 150%;
  color: black;
}

.with-fancy-links {
  text-align: center;
}
.with-fancy-links a {
  margin: 20px;
  padding: 10px;
  line-height: 50px;
  border-radius: 3px;
  font-size: 1.25em;
  font-family: sans-serif;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
}

.with-fancy-links a:hover,
.with-fancy-links a:focus {
  color: white;
  background: #D0021B;
  text-decoration: none;
}

/* The easiest grid layout system */
.grid {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr;
}

header {
  font-size: 1.25em;
  grid-column: 3 / 6;
  grid-row: 1;
}

/* The card with who we are */
.who-we-are {
  grid-column: 3 / 6;
  grid-row: 2;
}

/* The card "Attend a Meeting!" */
.events {
  grid-column: 3 / 6;
  grid-row: 3;
  text-align: left;
}

/* The card "Who is supporting Ruby?" */
.supporters {
  grid-column: 3 / 6;
  grid-row: 4;
}

/* The card "Who is using Ruby?" */
.using-ruby {
  grid-column: 3 / 6;
  grid-row: 5;
}

footer {
  grid-column: 3 / 6;
  grid-row: 6;
}

.events p {
  font-size: 1.25em;
}

.events  .next-event {
  font-size: 2em;
  line-height: 125%;
}

/* Pages: events, about. */

.page {
  margin-right: 2em;
  margin-left: 2em;
  text-align: left; 
  margin-bottom: 4em;
  max-width: 45em;
}

.page h2,
.page h3,
.page h4 {
  text-align: left;
}
.page h2 {
  font-size: 300%;
}
.page h3 {
  font-size: 175%;
}
.page h4 {
  font-size: 150%;
}

#our-logo {
  position: fixed;
  top: 20px;
  right: 30px;
}

/* For mobile phone widths */
@media screen and (max-width: 420px) {
  body {
    font-size: xx-large;
  }
  img { max-width: 350px; }
  .grid {
    grid-gap: 10px;
  }

  .card {
    max-width: 330px;
  }

  .with-fancy-links a {
    white-space: normal !important;
    display: block;
  }

  .with-fancy-links h2 {
    white-space: normal !important;
  }

  #our-logo {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .event-page {
    margin-top: 5.5em;
  }
}

/* Tablet Styles */
@media screen and (min-width: 421px) and (max-width: 1024px) {

  body {
    font-size: xx-large;
  }

  .page {
    margin-right: 2em;
    margin-left: 2em;
    text-align: left;
    margin-bottom: 4em;
    max-width: 45em;
  }
}