@charset "utf-8";

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  text-align: center;
  font-family: sans-serif;
  color: #222;
}

a:link, a:hover, a:active, a:visited {
  color: #ee0000;

}

h1 {
  padding: 350px 0 10px;
  margin: 0; }

.welcome {
  width: 100%;
  padding-top: 8%;
  margin: auto auto;
  max-width: 50%;
}

.who-we-are {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size:150%;
  line-height: 150%;
  color: #900000;
  color: green;
  color: black;
}

.using-ruby {
  text-align: center;
  margin: 20px;
}
.using-ruby a {
  margin: 20px;
  padding: 10px;
  line-height: 50px;
  border-radius: 3px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
}
.using-ruby a:hover,
.using-ruby a:focus {
  color: white;
  background: #D0021B;
  text-decoration: none;
}
