@charset "utf-8";

html, body {
  margin: 0;
}

body {
  background: white;
  font-family: sans-serif;
  color: #222;
  line-height: 1.5;

  max-width: 70ch;
  width: 94%;
  margin: 0 auto;
}

img { max-width: 100%; }
.frontpage-logo { width: 100%; }

a:link, a:hover, a:active, a:visited {
  color: #ee0000;
}

h1 {
  padding: 350px 0 10px;
  margin: 0;
}
h2 {
  font-size: 300%;
  text-align: center;
}
hr {
  color: #eee;
}

.welcome {
  width: 100%;
  padding-top: 8%;
}

.who-we-are {
  font-size:150%;
  line-height: 1.5;
  color: black;
  text-align: center;
}

.with-fancy-links a {
  border-radius: 3px;
  text-decoration: none;
}

.with-fancy-links a:hover,
.with-fancy-links a:focus {
  color: white;
  background: #D0021B;
  text-decoration: none;
}

.supporters.with-fancy-links a {
  font-size: 1.75em;
}

header {
  font-size: 1.25em;
}

footer ul,
.ruby-users-list,
.supporters-list,
.global-navigation {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.global-navigation li {
  margin: 0.2em;
}

.global-navigation li a {
  padding: 0.6em 0.5em;
  display: block;
}

footer li,
.ruby-users-list li,
.supporters-list li {
  margin: 0.2em;
}
footer li a,
.ruby-users-list li a,
.supporters-list li a {
  padding: 0.6em 0.5em;
  display: block;
  text-align: center;
}


footer {
}

.events p {
  font-size: 1.25em;
}

/* Pages: events, about. */
.page {
}

.page h2 {
  font-size: 300%;
}
.page h3 {
  font-size: 175%;
}
.page h4 {
  font-size: 150%;
}

#our-logo {
  position: fixed;
  top: 20px;
  right: 30px;
}

footer ul {
  list-style: none;
}

/* For mobile phone widths */
@media (max-width: 420px) {
  #our-logo {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .event-page {
    margin-top: 5.5em;
  }
}

/* Regular Screen Styles */
@media (min-width: 1025px) {
  p, li {
    font-size: 1.5em;
  }

  .events p {
    font-size: 1.75em;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    max-width: none;
    width: 100%;
    grid-template-columns: minmax(.5em, 1fr) minmax(min-content, 90ch) minmax(.5em, 1fr);
    min-height: 100vh;
  }
  .welcome,
  .page {
    grid-column: 2;
  }
  footer {
    grid-column: 1/-1;
    background-color: #333;
    color: #fff;
  }
  footer a {
    color: inherit !important;
  }
  @media (min-width: 60em) {
    .event-details {
      display: grid;
      grid-column-gap: 2em;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "first second";
    }
    .events-upcoming {
      grid-area: "first";
    }
    .events-future {
      grid-area: "second";
    }
  }
}