---

date: 2018-12-04
location: Skeppsbron 3. Ring the electronic bell for eCraft.
theme:
  name: My most recurring Ruby task. Ruby stuff I do everyday.
  description: |
    We have asked a few people to say some words on how they
    use Ruby <em>most of the time</em>.
planned_activities_description: |
  We are currently <strong>looking for more people</strong> showing and telling
  about their Ruby everyday things.
speakers:
  - name: Odd Example
    talk_title: More love
    talk_description: We should love more.
signup_link:
---

<p>
  Here are some extra specifics which we put in the event notes.
</p>

<p>
	We can also use this space to document what went on after
	the event has been held.
</p>
