---

date: 2018-12-04
location: Exempelgatan 22, second door to the right. Ring the electronic bell.
theme:
  name: Name of the Theme of the evening
  description: We are going deeper.
speakers:
  - name: Odd
    talk_title: More love
    talk_description: We should love more.
  - name: Eve
    talk_title: Less hate
    talk_description: We should hate less.
---

<p>
  Here are some extra specifics which we put in the event notes.
</p>
<p>
	We can also use this space to document what went on after
	the event has been held.
</p>