---

date: 2018-12-04
location: Skeppsbron 3. Ring the electronic bell for eCraft.
theme:
  name: Name of the Theme of the evening
  description: We are going deeper.
speakers:
  - name: Odd Example
    talk_title: More love
    talk_description: We should love more.
  - name: Eve Example
    talk_title: Less hate
    talk_description: We should hate less.
signup_link:
---

<p>
  Here are some extra specifics which we put in the event notes.
</p>

<p>
	We can also use this space to document what went on after
	the event has been held.
</p>
