---

date: 2025-03-18
location: Malmö.
theme:
  name: "Welcome back to Ruby"
  description: |
    <p>
      Connect with Ruby enthusiasts from the region at
      this Malmö.rb event.
    </p>
    <p>
      Some prepared things, some open space.
    </p>
    <p>
      We hope to meet you there!
    </p>

planned_activities_description: |
  We’ll have planned presentations for you, interpolated by some snacks and time to
  meet the other attendees.
speakers:
  - name: Stephen Best
    talk_title: "GraalVM's alien technology, using Java in C and Ruby with no JVM"
    talk_description: |
      <p>
         This will be a quick overview of what's possible with native Java and a tour of Stephen's side project libnjkafka.
      </p>

signup_link: https://tally.so/r/3xlAxG

---

<h3>The location</h3>

<p dir="auto">
  <strong>Venue</strong>: Södra Förstadsgatan 26, near the train station in Malmö.
  <a href="#" rel="nofollow">
    Google Maps link.
  </a>
</p>

<p>Notes on accessibility: The location is on the first floor, there is an elevator.
   
  <!-- It is not fully accessible to people with mobility issues. But we will support you in dealing with this. -->
</p>

<h3>When is it?</h3>

<p>
  <b>17:30-19:30</b>.
  Just after office hours, say 17:30, and – this time – for 2 hours.

  We try to keep the most interesting bits accessible to
  people who can not hang around too long, by placing them in
  the middle of the event’s timeline.
</p>

<h3>Snacks</h3>

<p>
  There will be some food to snack on.
</p>

<h3>By the way: What is Ruby?</h3>

<p>
  Ruby is a programming language which says it “optimizes
  for programmer happiness”. We’ve started a separate
  <a href="/about/ruby.html">Introduction to Ruby page</a>,
  to get you up to speed.
</p>

<h3>Target Audience</h3>

<p>This is an event for people interested in Ruby (any interest level!).</p>

<p>
  We welcome both <b>experienced programmers</b> (any language!) and
  <b>total beginners</b> (and not-yet-starters!) to our events.
  In fact, we take great pride in making a welcoming atmosphere to newcomers
  to tech.
</p>
