---

date: 2019-09-05
location: Techfestival, Copenhagen
theme:
  name: "Malmö.rb & Copenhagen.rb: a Joint Ruby Enthusiast Meetup"
  description: |
    <p>
      Explore the Ins and Outs of Ruby!

      Get to know the Ruby programming language – beginner-friendly and powerful. Connect with Ruby enthusiasts from the region at Techfestival to A prepared talk by <b>Martin Stein</b> contextualizes Ruby usage.

      <a href="https://techfestival.co/event/ruby-enthusiast-meetup/">Techfestival sign-up page</a>
    </p>

    <p>
      We hope to meet you there!
    </p>

    <h3>Target Audience</h3>

    <p>This is an event for people interested in Ruby.</p>

    <p>
      We welcome both experienced programmers and total beginners to our events.
      In fact, we take great pride in making a welcoming atmosphere to newcomers
      to tech.
    </p>


planned_activities_description: |
  We’ll have a string of talks for you, interpolated by some snacks and time to
  meet the other attendees.
speakers:
  - name: Martin Stein
    talk_title: "Using Ruby for biodiversity"
    talk_description: |
      <p>
        Martin is a “Biodiversity Rubyist” at the Natural History Museum of Denmark, and we’ve invited him to share something about how he is using Ruby in his work.
      </p>

signup_link: https://techfestival.co/event/ruby-enthusiast-meetup/

---

<h3>The location</h3>

<p>
  <b>DGI Byen</b> is at <a href="https://www.google.com/maps?saddr=My+Location&daddr=55.6695423,12.56463610000003">Tietgensgade 65, 1704 København, Danmark</a>
  That’s within walking distance
  of <a href="https://www.openstreetmap.org/node/5096749954">København H</a> where the trains stop. The building is a huge box.
</p>

<p>The location is on the ground floor, and doors open with motors.
   It is fully accessible to people with mobility issues.</p>

<h3>When is it?</h3>

<p>
  <b>17:30-19:30</b>.
  Just after office hours, say 17:30, and – this time – for 2 hours.

  We try to keep the most interesting bits accessible to
  people who can not hang around too long, by placing them in
  the middle of the event’s timeline.
</p>

<h3>Snacks</h3>

<p>
  None. <b>Zero snacks have been confirmed.</b>
</p>

<h3>By the way: What is Ruby?</h3>

<p>
  Ruby is a programming language which says it “optimizes
  for programmer happiness”. We’ve started a separate
  <a href="/about/ruby.html">Introduction to Ruby page</a>,
  to get you up to speed.
</p>
