---

date: 2019-01-08
location: Skeppsbron 3. Ring the electronic bell for eCraft.
theme:
  name: "Theme: Game tooling & Ruby 2.6"
  description: |
    Join us for our January 8 meetup where we have Jens Nockert talking <b>about game tools</b>. There will also be <b>a Ruby 2.6 safari tour</b> of what is new in that programming language.

    <h3>Target Audience</h3>
    <p>This is a free event for people interested in Ruby.
    <p>
    We welcome both experienced programmers and total beginners to our events. In fact, we take great pride in making a welcoming atmosphere to newcomers to tech.
    </p>

planned_activities_description: |
  We'll have a string of talks for you, interpolated by some snacks and time to
  meet the other attendees.
speakers:
  - name: Jens Nockert
    talk_title: Using Ruby in your game asset pipeline
    talk_description: |
      Taking a deep look at extending an old and working asset pipeline based around RAD Granny 3D and bringing it to the web with Ruby, Rake, and liberal application of a hex editor. We’ll look at the open-source (and official) EVE: Online renderer <a href=https://github.com/ccpgames/ccpwgl>CCPWGL</a> and its assets as a case study.

      <p>There will be Ruby, C and JavaScript shown, but only basic programming knowledge will be assumed.</p>

      <p>No game or Ruby experience required.</p>

  - name: Olle Jonsson
    talk_title: What is new in Ruby 2.6?
    talk_description: |
      Some holidays bring a new Ruby version, this time we got Ruby 2.6. What changed? What new patterns emerge? What can you do with the new features? What new magic is possible?

      <p>There will be examples, there will be explanations.</p>


signup_link:
---

<h3>What is Ruby?</h3>

<p>
  Ruby is a programming language which says it "optimizes
  for programmer happiness". We've started a separate
  <a href="/about/ruby.html">Introduction to Ruby page</a>,
  to get you up to speed.
</p>

<h3>The location</h3>

<p>It's on the first floor, but there's an elevator.</p>