---

date: 2019-02-05
location: FooCafe, Stora Varvsgatan 6a, 211 19 Malmö
theme:
  name: "Theme: First Ruby App!"
  description: |
    <p>
      The February meetup with Malmö Ruby Brigade has <b><a href="https://www.linux.com/learn/intro-to-linux/2017/10/linux-foundation-certified-system-administrator-and-engineer-lars-kronfalt">Lars Kronfält</a></b> presenting
      tips for having a smooth experience when building your first Ruby app. We will
      explore a get-to-the-web journey where Lars adds user login to a small project.
    </p>
    <p>
      Also: <b><a href="http://blog.aventine.se/">Jens Nockert</a></b> will show an example of using
      <a href=https://github.com/ffi/ffi/wiki>FFI</a> (foreign-function interface),
      extending Ruby with non-Ruby code.
    </p>
    <p>
      We hope to meet you there!
    </p>

    <h3>Target Audience</h3>

    <p>This is a free event for people interested in Ruby.</p>

    <p>
      We welcome both experienced programmers and total beginners to our events.
      In fact, we take great pride in making a welcoming atmosphere to newcomers
      to tech.
    </p>

    <p>
      If this is your first time, you may find the
      <a href="/about/how_to_malmorb.html">How To Malmö.rb</a> page helpful.
    </p>

planned_activities_description: |
  We'll have a string of talks for you, interpolated by some snacks and time to
  meet the other attendees.
speakers:
  - name: Lars Kronfält
    talk_title: Add user login to your app
    talk_description: |
      <p>
        As a website goes from idea to something you want to show to other
        people, you may find you want folks to be able to log in.
      </p>

      <p>
        Lars has promised to show us how to add this, without very much trouble,
        but we asked him to explain the <em>why</em> of managing user data.
      </p>

      <p>
        There will be some Ruby code shown. No game or Ruby experience required.
      </p>

  - name: Jens Nockert
    talk_title: "Show and Tell: How I used FFI"
    talk_description: |
      <p>
        FFI means foreign function interface.
      </p>

      <p>
        Jens will make it less alien, showing us an example of use.
      </p>

      <p>
        This is a talk about extending Ruby's capabilities using the C
        programming interface.
      </p>


signup_link: http://www.foocafe.org/malmoe/events/2130-build-your-first-app-foreign-function-interface
---

<h3>What is Ruby?</h3>

<p>
  Ruby is a programming language which says it "optimizes
  for programmer happiness". We've started a separate
  <a href="/about/ruby.html">Introduction to Ruby page</a>,
  to get you up to speed.
</p>

<h3>The location</h3>

<p>
  FooCafe is at <a href="https://www.openstreetmap.org/node/2629795116#map=19/55.61240/12.99122"Stora Varvsgatan 6a, in Malmö</a>. 
  That's <a href="https://www.openstreetmap.org/directions?engine=graphhopper_foot&route=55.6092%2C13.0009%3B55.6124%2C12.9912">within walking distance</a>
  from <a href="https://www.openstreetmap.org/node/25589138">Malmö C</a> where the trains stop. The building is a huge glass box.
  See also <a href="http://foocafe.se/malmoe/location">FooCafe Malmö Location map page</a>.
</p>

<p>It's on the ground floor, and doors open with motors.</p>

<h3>When is it?</h3>

<p>
  Just after office hours, say 17:30, and for about 3 hours.
  We try to keep the most interesting bits accessible to
  people who can not hang around too long, by placing them in
  the middle of the event's timeline.
</p>

<h3>Snacks</h3>

<p>
  There will be served a free snack in the form of a pizza. Details of that will
  be explained on the site, by the FooCafe host.
</p>
