---

date: 2019-04-02
location: FooCafe, Stora Varvsgatan 6a, 211 19 Malmö
theme:
  name: "Theme: Maintenance"
  description: |
    <p>
      The April 2 meetup with Malmö Ruby Brigade has a theme of
      Maintenance.
    </p>

    <p>
      We hope to meet you there!
    </p>

    <h3>Target Audience</h3>

    <p>This is a free event for people interested in Ruby.</p>

    <p>
      We welcome both experienced programmers and total beginners to our events.
      In fact, we take great pride in making a welcoming atmosphere to newcomers
      to tech.
    </p>

    <p>
      If this is your first time, you may find the
      <a href="/about/how_to_malmorb.html">How To Malmö.rb</a> page helpful.
    </p>

planned_activities_description: |
  We’ll have a string of talks for you, interpolated by some snacks and time to
  meet the other attendees.
speakers:
  - name: To Be Decided
    talk_title: "To be decided"
    talk_description: |
      <p>
          To be decided.
      </p>

signup_link: http://www.foocafe.org/malmoe/events/2132

---

<h3>The location</h3>

<p>
  FooCafe is at <a href="https://www.openstreetmap.org/node/2629795116#map=19/55.61240/12.99122">Stora Varvsgatan 6a, in Malmö</a>.
  That’s <a href="https://www.openstreetmap.org/directions?engine=graphhopper_foot&route=55.6092%2C13.0009%3B55.6124%2C12.9912">within walking distance</a>
  from <a href="https://www.openstreetmap.org/node/25589138">Malmö C</a> where the trains stop. The building is a huge glass box.
  See also the <a href="http://foocafe.se/malmoe/location">FooCafe Malmö Location map page</a>.
</p>

<p>The location is on the ground floor, and doors open with motors.
   It is fully accessible to people with mobility issues.</p>

<h3>When is it?</h3>

<p>
  Just after office hours, say 17:30, and for about 3 hours.
  We try to keep the most interesting bits accessible to
  people who can not hang around too long, by placing them in
  the middle of the event’s timeline.
</p>

<h3>Snacks</h3>

<p>
  FooCafe – our kind host – will serve refreshments <b>a free snack</b>
  in the form of pizza. Details of that will be explained at the event,
  by a FooCafe representative. Vegetarian, vegan and gluten-free pizza
  options will be asked about when we’re there.
</p>

<h3>By the way: What is Ruby?</h3>

<p>
  Ruby is a programming language which says it “optimizes
  for programmer happiness”. We’ve started a separate
  <a href="/about/ruby.html">Introduction to Ruby page</a>,
  to get you up to speed.
</p>
