---

date: 2021-11-23
location: Skeppbron 3, Malmö.
theme:
  name: "Async Ruby"
  description: |
    <p>
      Explore Ruby Async!

      Get to know more about the Ruby programming language – beginner-friendly and
      powerful. Connect with Ruby enthusiasts from the region at
      this rebooted Malmö.rb event. We hope to meet you there!
    </p>

    <p>
      A prepared talk by our guest speaker
      <a href="https://brunosutic.com/" title="Bruno's homepage">
        <b>
          Bruno Sutic
        </b>
      </a>
      on the Ruby Async gem family. See details below.
    </p>

planned_activities_description: |
  We’ll have one planned live video presentation for you, interpolated by some snacks and time to
  meet the other attendees.
speakers:
  - name: Bruno Sutic
    talk_title: "Async Ruby"
    talk_description: |
      <p>
        Async is an interesting new concurrency paradigm in Ruby, best described as
        <strong><em>threads with none of the downsides</em></strong>. It's powerful, scalable, and integrates
        seamlessly with the existing Ruby code.
      </p>

      <p>
        This talk will explain why Matz invited 'async' gem to Ruby's standard library
        and why Ruby added so many new language features, just to work better with
        Async.
      </p>

      <p>
        Async Ruby was in stealth development mode for years, and now it's finally ready
        for prime-time. Come learn about the most innovative feature added to Ruby in
        years.
      </p>

signup_link: https://wtr92bnwvoc.typeform.com/to/DdFUaVrE

---

<h3>The location</h3>

<p dir="auto">
  <strong>Venue</strong>: eCraft M3 Solutions at Skeppbron 3, near the train station in Malmö.
  <a href="https://www.google.com/maps/place/Skeppsbron+3,+211+20+Malm%C3%B6/@55.6104442,12.9996122,16z/data=!3m1!4b1!4m5!3m4!1s0x4653a3f911220fc7:0x16a512cfa1e09416!8m2!3d55.6107472!4d12.9982335" rel="nofollow">
    Google Maps link.
  </a>
</p>

<p>The location is on the first floor, some inaccessible stone steps to the street,
   and then is an elevator, doors are not motorized.
   It is not fully accessible to people with mobility issues. But we will support you in dealing with this.</p>

<h3>When is it?</h3>

<p>
  <b>17:30-19:30</b>.
  Just after office hours, say 17:30, and – this time – for 2 hours.

  We try to keep the most interesting bits accessible to
  people who can not hang around too long, by placing them in
  the middle of the event’s timeline.
</p>

<h3>Snacks</h3>

<p>
  There will be some food to snack on, we have thought about noodles from <a href="https://sv-se.facebook.com/MalmoDumpling/">Kung-Fu Dumplings</a>. <b>Unconfirmed.</b>
</p>

<h3>By the way: What is Ruby?</h3>

<p>
  Ruby is a programming language which says it “optimizes
  for programmer happiness”. We’ve started a separate
  <a href="/about/ruby.html">Introduction to Ruby page</a>,
  to get you up to speed.
</p>

<h3>Target Audience</h3>

<p>This is an event for people interested in Ruby (any interest level!).</p>

<p>
  We welcome both <b>experienced programmers</b> (any language!) and
  <b>total beginners</b> (and not-yet-starters!) to our events.
  In fact, we take great pride in making a welcoming atmosphere to newcomers
  to tech.
</p>
