---
layout: page
title: How to Malmö.rb
---

<h3>How to Malmö.rb?</h3>

<p>
  Malmö.rb – Malmö Ruby Brigade – is a group of Ruby enthusiasts about who
  meet regularly. It's been around for a little while, and some people are
  regular participants. If you're new to this, this is a page for you.
</p>

<p>
  This page tries to describe what the Malmö.rb is as an activity.
</p>

<h4>What happens at a meetup?</h4>

<ul>
  <li>talks and presentations</li>
  <li>eating some snacks</li>
  <li>meeting people</li>
</ul>

<p>
  Talks: one person has prepared a presentation of a topic, and holds forth.
  After a while they turn over the word to the crowd, who ask questions,
  or relate stories of their own.
</p>

<p>
  Snacks: our events start just after office hours, so you probably need a
  snack and a beverage. Our events normally provide for a light snack.
</p>

<p>
  Meeting people: The participants are what makes the whole thing tick.
</p>

<h4>Language: in English by default</h4>

<p>
All of the talks are presented <b>in English</b>, unless everyone who shows up speaks
  Russian, then we speak Russian.
</p>

<h4>What do I need to bring?</h4>

<p>
  You don't <em>have</em> to bring anything along with you.
  Some people like to have laptops with them.
</p>

<p>
  Also, it's free.
</p>

<h4>Questions for you</h4>

<p>
  Someone from Malmö.rb will probably ask you questions like 

  "How did you find out about the group?" or

  "What can change, to make it easier to participate?"

  If you can't think of anything right now, it's never too late to
  give such feedback later. We will use the information you give us
  to make future events more welcoming, useful and inclusive.
</p>

