---
layout: page
title: How to Malmö.rb
---

<h3>How to Malmö.rb?</h3>

<p>
  Malmö.rb – Malmö Ruby Brigade – is a group of Ruby enthusiasts about who
  meet regularly, to talk about technical things.


</p>

<h4>What happens at a meetup?</h4>

- talks and presentation
- snacks
- meeting people

All of the talks are presented in English, unless everyone who shows up speaks
Russian, then we speak Russian.

<h4>What do I need to bring?</h4>

<p>
  You don't <em>have</em> to bring anything along with you.
  Some people like to have laptops with them.
</p>

Also, it's free.

<h4>Questions for you</h4>

<p>
  Someone from Malmö.rb will probably ask you questions like 

  "How did you find out about the group?" or

  "What can change, to make it easier to participate?"

  If you can't think of anything right now, it's never too late to
  give such feedback later. We will use the information you give us
  to make future events more welcoming, useful and inclusive.
</p>

