---
layout: page
title: About Malmö.rb
---

<h3>What is Malmö.rb?</h3>

<p>
	Malmö.rb – Malmö Ruby Brigade – is a group of Ruby enthusiasts about who
	meet regularly, to talk about technical things. Ruby is a programming
	language. <a href="/about/ruby.html">Learn more about Ruby.</a>
</p>

<p>
	In late 2017, we restarted local Ruby community activity.
	Events have been organized roughly each month since then.
</p>

<h3>Is this for me?</h3>

<p>
	If you're interested in meeting other people who program, or hearing about
	programming topics, this is a space to do that.
</p>

<p>
	You don't have to bring anything, or have any experience, just
	curiosity.
</p>

<h3>What kinds of activities do you do?</h3>

<p>
	Meetups have had prepared talks and presentations, things to learn.
	Most talks turn into discussions, with participants sharing stories
	and asking things to the whole group.
</p>

<h3>I haven't been to a meetup, what do I need to know? </h3>

<p>
  If this is your first time, you may find the <a href="/about/how_to_malmorb.html">How To Malmö.rb</a> page helpful.
</p>
