---
layout: page
title: About Malmö.rb
---

<h3>What is Malmö.rb?</h3>

<p>
	A group of enthusiasts about Ruby who meet regularly,
	to talk about technical things.
</p>

<p>
	In late 2017, we restarted local Ruby community activity.
	Events have been organized roughly each month since then.
</p>

<h3>Is this for me?</h3>

<p>
	If you're interested in meeting other people who program, or hearing about
	programming topics, this is a space to do that.
</p>

<p>
	You don't have to bring anything, or have any experience, just
	curiosity.
</p>