---
layout: page
title: About Ruby
---

<h3>What is Ruby?</h3>

<h4>It's a programming language</h4>

<p>
	Optimized for programmer happiness, it says.
</p>

<p>
	Made in Japan.
</p>

<p>
	Started in 1995.
</p>

<p>
	<a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)">Wikipedia page on Ruby</a>
</p>

<h4>Is it used?</h4>
<p>
  Ruby is one of
  <a href="https://www.businessinsider.com/the-10-most-popular-programming-languages-according-to-github-2018-10">the 10 most popular programming languages, according to GitHub in 2018</a>.
</p>

<p>
  Ruby has enjoyed being in the top-10 of the TIOBE index for a 10-year consecutive period.
</p>
