---
title: Malmö.rb
---

<div class="welcome">
  <h1>Malmö.rb</h1>
  <p class="doc">
    <%= link_to "Meetup gruppen", "http://www.meetup.com/malmo-ruby/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
