---
title: Malmö.rb
---

<div class="welcome">
  <img src="/images/logo.png" alt="Malmö.rb" title="Malmö.rb">
  <p class="doc">
    <%= link_to "Meetup", "http://www.meetup.com/malmo-ruby/" %> | <%= link_to "Mailinglist", "https://groups.google.com/forum/?fromgroups#!forum/malmo-ruby" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
